<.form let={f} for={@changeset} action={@action}>
<%= inspect @changeset %>
    <div>
        <%= label f, :hours %>
        <%= text_input f, :hours %>
        <%= error_tag f, :hours %>
    </div>

    <div>
        <%= label f, :rate %>
        <%= text_input f, :rate %>
        <%= error_tag f, :rate %>
    </div>

  <div>
    <%= submit "Save" %>
  </div>
</.form>
